body {
    background-image: url("white-waves.png");
}

header {
    background-color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #cccccc;
}

header::after {
    content: "";
    display: block;
    clear: both;
}

h1,
h2 {
    font-family: Georgia, Times, 'Times New Roman', Times, serif;
}

nav, 
p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.group {
    background-color: #ffffff;
    margin: 0 auto;
    width: 960px;
}

.logo {
    background-color: #4aaaa5;
    width: 280px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    float: left;
}

.nav {
    text-align: right;
}

.nav li {
   display: inline-block;
   padding: 20px 5px 0 5px;
   font-size: 18px;
}

.container {
    background-color: #ffffff;
    border: 1px solid #dddddd;  
    box-sizing: border-box;
    margin: 30px auto;
    width: 960px;
    overflow: auto;
    
}

.box-top {
    margin: 20px;
}
#contact {
    font-size: 16px;
    text-align: right;
    margin-bottom: 0;
    line-height: 18px;
}
h2 {
    border-bottom: 2px solid #dddddd;
    color: #4aaaa5;
    font-size: 22px;
    text-align: left;
    font-weight: 900;
    padding: 20px 0;
    
}
.box {
    margin: 20px auto;
    width: 95%;
    position: relative;
}

#profile-pic {
    height: 240px;
    width: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

p {
    color: #777777;
    margin-bottom: 20px;
    line-height: 30px;
}

a {
    color: #777777;
    text-decoration: none;
  }

a:hover {
    color: #4aaaa5;
  }

div > a {
    color: #ffffff;
}

div > a:hover {
    color: black;
}

footer {
    background-color: #666666;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h3 {
    padding: 10px 0;
}

#name,
#email,
#message {
    width: 910px;
}

#name,
#email {
    height: 30px;
}
/*
#message {
    height: 120px;
}
*/
button {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*
.image-item {
    height: 300px;
    width: 100px;
    position: relative;
}
*/
.pic {
    height: 250px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.pic-hangman {
    float: left;
}

.hangman,
.rpg,
.game,
.widget,
.rps {
    position: absolute;
    width: 300px;
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    
    text-align: center;
    padding: 10px 0;
}
.hangman {
    top: 180px;
}
.rpg {
    top: 180px;
    left: 320px;
}
.game {
    top: 455px;
    
}
.widget {
    top: 455px;
    left: 325px;
}
.rps {
    top: 725px;
}


@media screen and (max-width: 980px) {
    .group {
        width: 95%;
        margin: 0 auto;
    }

    .container {
        width: 80%;
        height: auto;
        margin: 20px auto auto;
    }

    .nav li {
        display: inline-block;
        padding: 20px 5px 0;
        font-size: 18px;
     }

    #name,
    #email,
    #message {
        width: 94%;
    }

    .pic {
        width: 40%;
        height: auto;
        
    }

    .pic {
        width: 44%;
        height: auto;
        
    }
    .hangman,
    .rpg,
    .game,
    .widget,
    .rps {
        width: 44%;
        
    }

    .hangman {
        top: 18%;
    }

    .rpg {
        top: 18%;
        left: 47%;
    }
    .game {
        top: 50%;
        
    }
    .widget {
        top: 50%;
        left: 48%;
    }
    .rps {
        top: 85%;
    }


}

@media screen and (max-width: 768px) {
    .group {
        width: 95%;
        margin: 0 auto;
    }

    
    .nav li {
        display: inline-block;
        padding: 20px 5px 0;
        font-size: 18px;
    }

    .container {
        width: 95%;
        height: 95%;
        
    }

    #profile-pic {
        width: 50%;
        height: auto;
    }

    #name,
    #email,
    #message {
        width: 96%;
    }


    .pic {
        width: 44%;
        height: auto;
        
    }
    .hangman,
    .rpg,
    .game,
    .widget,
    .rps {
        width: 44%;
        
    }

    .hangman {
        top: 18%;
    }

    .rpg {
        top: 18%;
        left: 47%;
    }
    .game {
        top: 50%;
        
    }
    .widget {
        top: 50%;
        left: 48%;
    }
    .rps {
        top: 85%;
    }
    
}

@media screen and (max-width: 640px) {
    .group {
        width: 100%;
        margin: 0 auto;
    }
    .logo {
        width: 100%;
        float: none;
        padding: 20px 0;
        margin: 0;
    }
    .nav {
        text-align: center;
        margin: 0 auto;
    }
    .nav li {
        display: inline-block;
        padding: 18px;
        font-size: 18px;
     }
    .container {
        width: 95%;
        height: 95%;
    
    }
    #profile-pic {
        width: 100%;
        height: auto;
        float: none;
    }

    #name,
    #email,
    #message {
        width: 96%;
    }
 
    .pic {
        width: 100%;
        height: auto;
        
    }
    
    .hangman,
    .rpg,
    .game,
    .widget,
    .rps {
        width: 100%;
    }

    .hangman {
        top: 13%;
    }

    .rpg {
        top: 33%;
        left: 0;
    }
    .game {
        top: 53%;
    
    }
    .widget {
        top: 73%;
        left: 0;
    }
    .rps {
        top: 93%;
    }
}